fastapi==0.109.2
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
motor
pymongo
pydantic
web3==7.0.0b1
ipfshttpclient==0.8.0a2
httpx==0.27.0
pydantic-settings==2.2.1
python-multipart
aiohttp
bcrypt==4.0.1
pydantic[email]
email-validator>=1.3.0
Pillow>=10.0.0
mangum